 @media (max-width:767px) {
  .loginContainer{
    position:fixed;
    top: 24%!important;
    left:0px!important;
    right:0px!important;
  }
}

@media (min-width: 768px) and (max-width: 1160px) {
  .loginContainer{
    position:fixed;
    top: 24%!important;
    left:28%!important;
    right:28%!important;
  }
}
.makeStyles-content-9{
  padding:6px!important;
}
.projectInput{
  margin-top: 10px!important;
  margin-bottom: 10px;
}
.MuiList-padding{
  padding-top: 0px;
  padding-bottom: 0px;
}
.rdw-editor-main {
    padding:10px!important;
    background: white!important;
    border: 1px solid #dedbdb!important;
}
.MuiInputBase-input{
  background-color: white!important;
}
.MuiAutocomplete-inputRoot{
    background-color: white!important;
}
.MuiAppBar-root{
  background-color: white!important;
}
.MuiIconButton-root{
  color: black!important;
}
.MuiPaper-root{
  box-shadow: #E9ECEE 0px 0.1rem .3rem!important;

}
.MuiListItemIcon-root{
  min-width: 40px!important;
}

.MuiListItem-root {
  box-shadow: #E9ECEE 0px 0.1rem .3rem;
  margin-bottom: 2px!important;

}
body{
  background-color: #eff3f6!important;
}
a{
  color: black;
  text-decoration: none!important;
}
.MuiTypography-root{
 font-size: 15px!important;
 color: #333!important;
}
.MuiOutlinedInput-multiline{
  background: white;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width:100%;

}
th{
background-color: #dee2e6;
}
td, th {
border: 1px solid #ede7f6;
text-align: left;
padding: 8px;
}
.writeContainer{
  padding-left: 5px!important;
  padding-right: 5px!important;
}
 .row{
   margin-left: 0px!important;
   margin-right: 0px!important;
 }
 .col-md-8{
   padding-left: 0px!important;
   padding-right: 0px!important;
 },
 .col-3{
   /* padding-left: 0px!important;
   padding-right: 0px!important; */
 }
.chatContainer{
  overflow: hidden;
  /* background-color: lightpink; */
  overflow-y: scroll;
  height: 510px;
  /* padding-left: 15px!important;
  padding-right: 15px!important; */
}
@media (min-width:767px) and (max-width: 1100px){
  .chatContainer{
    overflow: hidden;
    overflow-y: scroll;
    height: 480px;
  }
}

@media (min-width:1100px){
  .chatContainer{
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
  }
}

.typeMsgContainer{
  position: fixed;
  bottom: 10px;
  left:1%;
  right:1%;
}
/* .typeMsgContainer{
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
} */
/* @media (min-width: 767px) {
  .typeMsgContainer{
    position: fixed;
    bottom: 60px; */
    /* left: 210px;
    right: 210px; */
  /* }
} */
.sendIcon:hover{
  color: #2196f3;
}
.messageSideBar{
  min-width: 200px;
  background-color: white;
  position: fixed;
  right: 0px;
  top: 9%;
  height: 91%
}
.member-list{
  /* text-align: center;
  width: 250px;
  background-color: white;
  position: fixed;
  right: 0px;
  top: 9%;
  height: 91%; */
}
.message-container{
  position: fixed;
  bottom: 2%;
  left: 25%;
  right: 25%;
}
.messageImg{
  position: absolute;
  left: 0px;
  top:0px;
}
.messageContent{
 margin-left: 58px;
}
.chatList{
  position: absolute;
  height: 70%;
  overflow-y: scroll;
  top:100px;
  left: 25%;
  right: 25%;
}
.offerletter{

}
.sb-icons{
  font-size: 27px;
}
.collapseContainer{
  /* background-color: #f1f1f1; */
}
