.loginbtn{
  background: #4e54c8;
  background: -webkit-linear-gradient(to bottom, #8f94fb, #4e54c8);
  background: linear-gradient(to bottom, #8f94fb, #4e54c8);
}
@media (max-width:767px) {
  .loginContainer{
    position:fixed;
    top: 28%!important;
    left:0px!important;
    right:0px!important;
  }
}

@media (min-width: 768px) and (max-width: 1160px) {
  .loginContainer{
    position:fixed;
    top: 28%!important;
    left:28%!important;
    right:28%!important;
  }
}
