.loginbtn{
  background: #4e54c8;
  background: -webkit-linear-gradient(to bottom, #8f94fb, #4e54c8);
  background: linear-gradient(to bottom, #8f94fb, #4e54c8);
}
@media (max-width:767px) {
  .loginContainer{
    position:fixed;
    top: 24%!important;
    left:0px!important;
    right:0px!important;
  }
}

@media (min-width: 768px) and (max-width: 1160px) {
  .loginContainer{
    position:fixed;
    top: 24%!important;
    left:28%!important;
    right:28%!important;
  }
}
.MuiAppBar-colorPrimary {
  /* background-color: #3fb58f!important; */
}
.MuiDrawer-paperAnchorDockedLeft{
  /* background-color: #3fb58f!important; */
}
.makeStyles-drawerHeader-8{
    /* background-color: white!important; */
}
.makeStyles-content-9{
  padding:6px!important;
}
.projectInput{
  margin-top: 10px!important;
  margin-bottom: 10px;
}
.MuiList-padding{
  padding-top: 0px;
  padding-bottom: 0px;
}
.rdw-editor-main {
    background: white!important;
    border: 1px solid #dedbdb!important;
}
